<p>Obstacle name: <%= @obstacle.name %></p>
<p>Creator's Difficulty Rating: <%= @obstacle.difficulty_rating %></p>
<p>Belongs to: <%= @obstacle.spot.name %></p>
<p>Logged by: <%= User.find(@obstacle.user_id).email %></p>
<% unless @obstacle.user_id != current_user.id %>
<%= link_to "Edit Obstacle", edit_obstacle_path(@obstacle) %> <br>
<% end %>

<strong>Rate the difficulty:</strong>
<%= form_tag(obstacle_ratings_path, method: "post") do %>
    <%= hidden_field_tag "obstacle_id", @obstacle.id %>
    <label for="points">(between 0 and 10):</label>
<input type="range" id="points" name="rating" min="0" max="10">
    <input type="submit" value="Submit Rating" class="button is-primary">
<% end %>
<br>

<p>Average Difficulty Rating:</p>
<%= @obstacle.avg %>